/* .header__logo{
    width: 100%;
} */

.header__logo img{
    height: 29rem;
    width: 100%;
    background: rgb(39,38,52);
    background: linear-gradient(90deg, rgba(39,38,52,1) 3%, rgba(185,203,57,1) 22%, rgba(61,113,124,1) 96%);
}

.header__title{
    position: relative;
    margin-top: 1em;
}

.header__title p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    font-size: xx-large;
    word-spacing: 3px;
    font-family: cursive;
    letter-spacing: 10px;
}

